@import url('https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css');


.wpcb-table th, .wpcb-table td {
border: 1px solid #ddd;
padding: 0.5rem;
}


#wpcb-scan-page-result pre, #wpcb-scan-output {
white-space: pre-wrap;
max-height: 400px;
overflow: auto;
background-color: #f3f4f6;
padding: 1rem;
border-radius: 0.375rem;
}